@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    font-family: 'Poppins', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin: 1rem;
}

h1, h3 {
    margin-top: 0.5rem;
}

section {
    padding: 5vh;
    font-size: small;
}

section > h2 {
    margin: 1rem 0;
    text-decoration: underline;
    text-underline: black;
}

.item {
    padding: 0 10vw;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    text-align: center;
}

button {
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-weight: 800;
}

input {
    font-weight: 800;
    font-size: larger;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
}

form button {
    align-self: center;
    width: min-content;
}

section h3 {
    padding: 0;
    margin: 0;
}