@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    font-family: 'Poppins', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin: 1rem;
}

h1, h3 {
    margin-top: 0.5rem;
}

section {
    padding: 5vh;
    font-size: small;
}

section > h2 {
    margin: 1rem 0;
    text-decoration: underline;
    text-underline: black;
}

.item {
    padding: 5vw 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 1px solid black;
}