@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    font-family: 'Poppins', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin: 1rem;
}

h1, h3 {
    margin-top: 0.5rem;
}

section {
    padding: 5vh;
    font-size: small;
}

section > h2 {
    margin: 1rem 0;
    text-decoration: underline;
    text-underline: black;
}

.item {
    padding: 0 10vw;
    display: flex;
    justify-content: center;
    column-gap: 5rem;
    text-align: center;
}

button {
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-weight: 800;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    transition: 0.2s ease-in-out;
}

.square {
    width: 100px;
    aspect-ratio: 1;
    background-color: lightgreen;
    transition: 0.2s ease-in-out;
}