@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    font-family: 'Poppins', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin: 1rem;
}

h1, h3 {
    margin-top: 0.5rem;
}

section {
    padding: 5vh;
    font-size: 18px;
    font-weight: 600;
}

section > h2 {
    margin: 1rem 0;
    text-decoration: underline;
    text-underline: black;
}

.item {
    padding: 0 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 5rem;
    text-align: center;
}

button {
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-weight: 800;
}

input {
    border: none;
    border-bottom: 2px solid gray;
    font-size: inherit;
    font-weight: inherit;
    transition: 0.5s linear;
    width: 50%;
}

input:focus {
    outline: none;
    border-bottom: 2px solid black;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.5rem;
}

label {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

button {
    background-color: transparent;
    border: none;
    border-bottom: orange 2px solid;
    margin-top: 2rem;
    width: 20%;
    transition: 0.2s ease-out;
    font-size: max(15px, 2vw);
    border-radius: 10px 0 10px 0 ;
}

button:hover {
    background-color: orange;
}
